Repository darshan-hpc/darshan, pull requests merged in 2021-09, with the labels that each got.

#470 MAINT: use github labeler
  .github/pr_path_labeler.yml
  .github/workflows/labels.yml
Labels: pydarshan, maintenance

#474 MAINT, CI: more actions labels
  .github/pr_path_labeler.yml
Labels: maintenance

#477 CI: add MacOS to CI
  .github/workflows/main_ci.yml
  darshan-util/configure
  darshan-util/configure.in
Labels: CI

#478 Report.py Coverage
  darshan-util/pydarshan/tests/test_report.py
Labels: pydarshan, testing

#481 BLD: handle MacOS dylib
  darshan-util/pydarshan/darshan/discover_darshan.py
Labels: pydarshan

#483 Pyflakes
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
Labels: pydarshan, CI

#471 TST, MAINT: logs repo resources
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/mypy.ini
  darshan-util/pydarshan/tests/conftest.py
  darshan-util/pydarshan/tests/test_report.py
Labels: pydarshan, testing, CI, maintenance

#485 WIP: Adds simple darshan job summary template
  darshan-util/pydarshan/darshan/cli/base.html
  darshan-util/pydarshan/darshan/cli/style.css
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/mypy.ini
Labels: pydarshan

#496 Minor fix to ensure --help is propagated to subcommands. Show human-r…
  darshan-util/pydarshan/darshan/cli/__init__.py
  darshan-util/pydarshan/darshan/cli/info.py
  darshan-util/pydarshan/darshan/cli/name_records.py
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/cli/to_json.py
Labels: bug, pydarshan

#500 MAINT: Replace overly broad type hint
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: pydarshan

#501 MAINT: Remove data type specifier from DarshanReport call
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: pydarshan

#504 CI: rm --enable-pydarshan
  .github/workflows/main_ci.yml
Labels: pydarshan, CI
