Repository darshan-hpc/darshan, pull requests merged in 2021-11, with the labels that each got.

#526 ENH: add infrastructure for adding figures, job i/o activity section
  darshan-util/pydarshan/darshan/cli/base.html
  darshan-util/pydarshan/darshan/cli/style.css
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: enhancement, pydarshan

#533 BENCH: Add benchmark for `DarshanRecordCollection.to_df()`
  darshan-util/pydarshan/benchmarks/benchmarks/report.py
Labels: pydarshan, performance

#546 TST: Add test for `DarshanRecordCollection.to_df()`
  darshan-util/pydarshan/tests/test_report.py
Labels: pydarshan, testing

#554 MAINT: Remove heatmap figure title
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
Labels: pydarshan, maintenance

#515 WIP, CI: add Python 3.10
  .github/workflows/main_ci.yml
Labels: CI

#551 ENH: Add `LUSTRE` module support to `DarshanRecordCollection.to_df()`
  darshan-util/pydarshan/darshan/report.py
  darshan-util/pydarshan/tests/test_report.py
Labels: enhancement, pydarshan

#565 BENCH: add better log file to `time_record_collection_to_df` for `LUSTRE` performance
  darshan-util/pydarshan/benchmarks/benchmarks/report.py
  darshan-util/pydarshan/tests/input/__init__.py
Labels: pydarshan, performance

#553 TST: Add tests for `plot_opcounts` and `plot_access_histogram`
  darshan-util/pydarshan/tests/conftest.py
  darshan-util/pydarshan/tests/test_plot_exp_common.py
Labels: pydarshan, testing

#567 ENH: optimize `DarshanRecordCollection.to_df()`
  darshan-util/pydarshan/darshan/report.py
Labels: enhancement, pydarshan

#560 ENH: Add `DXT_MPIIO` support to `plot_dxt_heatmap.plot_heatmap()`
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/tests/test_heatmap_handling.py
  darshan-util/pydarshan/tests/test_plot_dxt_heatmap.py
Labels: enhancement, pydarshan

#549 ENH: Add I/O cost figure module and tests
  darshan-util/pydarshan/darshan/experimental/plots/__init__.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/tests/test_plot_io_cost.py
Labels: enhancement, pydarshan
