Repository darshan-hpc/darshan, pull requests merged in 2021-08, with the labels that each got.

#430 MAINT: changes requested for heatmap
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/tests/test_heatmap_handling.py
  darshan-util/pydarshan/tests/test_plot_dxt_heatmap.py
Labels: maintenance, pydarshan

#427 MAINT, CI: add mypy to CI
  .github/workflows/linux.yml
  darshan-util/pydarshan/darshan/__init__.py
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/mypy.ini
Labels: CI, pydarshan, static typing

#433 MAINT: rm extraneous to_df()
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
Labels: pydarshan, maintenance

#428 WIP, BENCH: start asv infrastructure
  darshan-util/pydarshan/benchmarks/asv.conf.json
  darshan-util/pydarshan/benchmarks/benchmarks/__init__.py
  darshan-util/pydarshan/benchmarks/benchmarks/dxt_heatmap.py
  darshan-util/pydarshan/examples/__init__.py
  darshan-util/pydarshan/examples/example-logs/__init__.py
  darshan-util/pydarshan/setup.py
  darshan-util/pydarshan/tests/input/__init__.py
Labels: pydarshan, performance

#435 CI: add asv check to CI
  .github/workflows/linux.yml
Labels: pydarshan, CI, performance

#442 BUG: Correct file hash data types to uint64
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
  darshan-util/pydarshan/tests/test_cffi_misc.py
Labels: bug, pydarshan

#436 BENCH: benchmark get_heatmap_df()
  darshan-util/pydarshan/benchmarks/benchmarks/dxt_heatmap.py
Labels: pydarshan, performance

#437 BENCH: benchmark mod_read_all_records
  darshan-util/pydarshan/benchmarks/benchmarks/report.py
Labels: pydarshan, performance

#447 ENH: Optimize cffi_backend.log_get_generic_record()
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
  darshan-util/pydarshan/tests/test_cffi_misc.py
Labels: enhancement, pydarshan

#449 BENCH: asv mod_read_all_dxt_records
  darshan-util/pydarshan/benchmarks/benchmarks/report.py
Labels: pydarshan, performance

#453 MAINT: cleanups after gh-447
  darshan-util/pydarshan/tests/test_cffi_misc.py
Labels: pydarshan, maintenance

#434 CI: add codecov to CI
  .codecov.yml
  .github/workflows/linux.yml
Labels: pydarshan, CI

#467 TST, MAINT: add conftest.py for logs
  darshan-util/pydarshan/mypy.ini
  darshan-util/pydarshan/tests/conftest.py
Labels: pydarshan, testing
