Repository darshan-hpc/darshan, pull requests merged in 2021-12, with the labels that each got.

#573 MAINT: cleanup of `summary.py`
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: pydarshan, maintenance

#570 ENH: Add `DXT_MPIIO` heat map to Darshan Summary Report
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/tests/test_summary.py
Labels: enhancement, pydarshan

#583 Ensure files are closed when destructing report objects.
  darshan-util/pydarshan/darshan/report.py
  darshan-util/pydarshan/tests/test_report.py
Labels: pydarshan

#584 MAINT: Cleanup `plot_access_histogram.py`
  darshan-util/pydarshan/darshan/experimental/plots/plot_access_histogram.py
Labels: pydarshan, maintenance

#580 MAINT: Cleanup `plot_opcounts.py`
  darshan-util/pydarshan/darshan/experimental/plots/plot_opcounts.py
Labels: pydarshan, maintenance

#581 MAINT: Plot multiple modules in single IO cost plot
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/tests/test_plot_io_cost.py
Labels: pydarshan, maintenance

#592 BUG: Correct I/O cost figure y limits
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/tests/test_plot_io_cost.py
Labels: bug, pydarshan

#596 MAINT: Move `autolabel` function out of `plot_access_histogram`
  darshan-util/pydarshan/darshan/experimental/plots/plot_access_histogram.py
Labels: pydarshan, maintenance

#598 MAINT: Refactor `plot_opcounts.py`
  darshan-util/pydarshan/darshan/experimental/plots/plot_opcounts.py
Labels: pydarshan, maintenance
