Repository darshan-hpc/darshan, pull requests merged in 2021-10, with the labels that each got.

#506 CI: build wheels in CI
  .github/workflows/main_ci.yml
Labels: pydarshan, CI

#509 BLD: add simple pyproject.toml
  darshan-util/pydarshan/pyproject.toml
Labels: pydarshan

#511 CI: Update pydarshan install to install in same directory
  .github/workflows/main_ci.yml
Labels: pydarshan, CI

#505 CI: add Python 3.6
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
Labels: pydarshan, CI

#525 use out-of-tree build for darshan-util
  .github/workflows/main_ci.yml
Labels: CI

#523 TST: Add additional tests for summary report code
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/tests/test_summary.py
Labels: pydarshan, CI

#528 MAINT: Remove `dtype="pandas"` usage from DXT heat map modules
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
Labels: pydarshan

#545 MAINT: backport ignore .h.in~ files
  .gitignore
Labels: maintenance
