Repository darshan-hpc/darshan, pull requests merged in 2022-04, with the labels that each got.

#397 WIP, ENH: draft library code for "Data Access by Category"
  darshan-util/pydarshan/darshan/experimental/plots/data_access_by_filesystem.py
  darshan-util/pydarshan/darshan/tests/test_data_access_by_filesystem.py
Labels: enhancement, pydarshan

#696 MAINT: Use runtime for DXT heatmap x-axis scaling
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
Labels: pydarshan, maintenance

#704 ENH: Add HDF5 operation counts figures to summary report
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#713 TST: Close figures in `test_bar_heights`
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
Labels: pydarshan, testing

#710 CI: bump GHA action versions
  .github/workflows/main_ci.yml
Labels: CI

#707 MAINT: Change `H5D` and `H5F` figure section titles to HDF5
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: pydarshan, maintenance

#711 MAINT: Include `H5D` columns in `H5F`-only operation counts figure
  darshan-util/pydarshan/darshan/experimental/plots/plot_opcounts.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
Labels: pydarshan, maintenance

#714 TST: Add HDF5 test cases using "ground truth" logs
  darshan-util/pydarshan/darshan/tests/test_plot_common_access_table.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
Labels: pydarshan, testing

#702 ENH: Runtime heatmap multiple operation support
  darshan-util/pydarshan/darshan/datatypes/heatmap.py
  darshan-util/pydarshan/darshan/tests/test_report.py
Labels: enhancement, pydarshan

#720 BUG, TST: Fix issue 717
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: bug, pydarshan, testing
