Repository darshan-hpc/darshan, pull requests merged in 2022-11, with the labels that each got.

#837 CI: use 3.11 final release
  .github/workflows/main_ci.yml
Labels: CI, maintenance

#849 CI: try to fix MacOS CI
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: pydarshan, CI

#830 ENH: improved precision of darshan job start/end times
  .github/workflows/main_ci.yml
  darshan-runtime/lib/darshan-core.c
  darshan-util/darshan-analyzer.c
  darshan-util/darshan-diff.c
  darshan-util/darshan-dxt-parser.c
  darshan-util/darshan-logutils.c
  darshan-util/darshan-logutils.h
  darshan-util/darshan-merge.c
  darshan-util/darshan-parser.c
  darshan-util/pydarshan/darshan/backend/api_def_c.py
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-HDF5_id438090-438090_11-9-41522-17417065676046418211_1.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-HDF5_id545128-545128_9-7-60657-7307669767025130365_1.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-PNETCDF_id438100-438100_11-9-41525-10280033558448664385_1.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-PNETCDF_id864223-864223_10-27-46849-11258636277699483231_1.darshan
  darshan-util/pydarshan/darshan/experimental/aggregators/create_dxttimeline.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/darshan/report.py
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
  darshan-util/pydarshan/darshan/tests/test_plot_io_cost.py
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
  include/darshan-log-format.h
Labels: pydarshan, CI

#856 CI: bump cibuildwheel to newest release
  .github/workflows/build_wheels.yml
Labels: CI

#858 BUG: fix pytest hang/lock
  darshan-util/pydarshan/darshan/tests/test_cffi_misc.py
  darshan-util/pydarshan/darshan/tests/test_data_access_by_filesystem.py
  darshan-util/pydarshan/darshan/tests/test_heatmap_handling.py
  darshan-util/pydarshan/darshan/tests/test_plot_common_access_table.py
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
  darshan-util/pydarshan/darshan/tests/test_plot_io_cost.py
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: bug, pydarshan

#857 CI: add non-MPI test case
  .github/workflows/runtime_ci.yml
  darshan-test/python_runtime_tests.py
Labels: CI
