Repository darshan-hpc/darshan, pull requests merged in 2022-09, with the labels that each got.

#799 ENH: faster DXT interpolation
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
Labels: enhancement, pydarshan

#805 BUG: logutils up-conversin of partial_flags is broken for darshan versions prior to 3.2.0
  darshan-util/darshan-logutils.c
Labels: bug

#810 MAINT: unpin matplotlib
  .cirrus.yml
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
  darshan-util/pydarshan/pyproject.toml
Labels: pydarshan, CI, maintenance

#789 MAINT: simplify get_heatmap_df()
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
Labels: pydarshan, maintenance

#816 BUG: memleak fix CFFI only pt1
  darshan-util/darshan-logutils.c
  darshan-util/darshan-logutils.h
  darshan-util/pydarshan/darshan/backend/api_def_c.py
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
Labels: bug, pydarshan

#818 BUG: fix mount memleak (CFFI only)
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
Labels: bug, pydarshan

#819 BUG: memleak part 3 (CFFI only)
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
Labels: bug, pydarshan
