Repository darshan-hpc/darshan, pull requests merged in 2022-01, with the labels that each got.

#595 BUG: Fix `plot_io_cost()` calculation
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/tests/test_plot_io_cost.py
Labels: bug, pydarshan

#571 WIP, ENH: Add I/O cost figure to Darshan Summary Report
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/tests/test_summary.py
Labels: enhancement, pydarshan

#602 MAINT: Update mypy config to ignore all pandas imports
  darshan-util/pydarshan/mypy.ini
  darshan-util/pydarshan/tests/test_plot_io_cost.py
  darshan-util/pydarshan/tests/test_report.py
  darshan-util/pydarshan/tests/test_summary.py
Labels: pydarshan, maintenance

#599 MAINT: Single module `plot_opcounts`
  darshan-util/pydarshan/darshan/experimental/plots/plot_opcounts.py
  darshan-util/pydarshan/tests/test_plot_exp_common.py
Labels: pydarshan, maintenance

#600 ENH: Add common access table
  darshan-util/pydarshan/darshan/experimental/plots/plot_common_access_table.py
  darshan-util/pydarshan/tests/test_plot_common_access_table.py
Labels: enhancement, pydarshan

#609 TST: tests for get_log_path()
  darshan-util/pydarshan/examples/darshan-graph/__init__.py
  darshan-util/pydarshan/tests/test_log_utils.py
Labels: pydarshan, testing

#610 BENCH: asv benchmark for get_log_path()
  darshan-util/pydarshan/benchmarks/benchmarks/log_utils.py
Labels: pydarshan, performance

#608 BUG, BENCH: fix time_plot_heatmap_builtin_logs
  darshan-util/pydarshan/benchmarks/benchmarks/dxt_heatmap.py
Labels: bug, pydarshan, performance

#611 ENH: faster get_log_path()
  darshan-util/pydarshan/darshan/log_utils.py
Labels: enhancement, pydarshan

#616 MAINT: PR 600 cleanup, remove unused import in `test_plot_common_access_table.py`
  darshan-util/pydarshan/tests/test_plot_common_access_table.py
Labels: pydarshan, maintenance

#614 MAINT: Close dxt heatmap matplotlib figures, add `pytest.ini`
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/pytest.ini
Labels: pydarshan, maintenance

#628 MAINT: move remaining tests, remove `/examples`
  darshan-util/pydarshan/darshan/tests/test_log_utils.py
  darshan-util/pydarshan/darshan/tests/test_plot_common_access_table.py
  darshan-util/pydarshan/examples/darshan-graph/__init__.py
Labels: pydarshan, maintenance

#618 ENH: Add dataframe/table figure support
  darshan-util/pydarshan/darshan/cli/base.html
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_common_access_table.py
  darshan-util/pydarshan/darshan/tests/test_plot_common_access_table.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#633 MAINT: Update return type for `plot_common_access_table`
  darshan-util/pydarshan/darshan/experimental/plots/plot_common_access_table.py
Labels: pydarshan, maintenance

#619 ENH: Add common access size table to darshan summary report
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#631 MAINT: rm redundant sample.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/sample.darshan
Labels: pydarshan, maintenance

#632 BUG: correct section closing tag in `base.html`
  darshan-util/pydarshan/darshan/cli/base.html
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: bug, pydarshan
