Repository darshan-hpc/darshan, pull requests merged in 2022-02, with the labels that each got.

#635 MAINT: purge example2.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/example2.darshan
  darshan-util/pydarshan/darshan/tests/test_log_utils.py
Labels: pydarshan, maintenance

#634 ENH: Add partial module data flag
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#637 ENH: Add access size histogram to summary report
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#640 MAINT: Correct `nonmpi_partial_modules.darshan` filename
  darshan-util/pydarshan/darshan/tests/test_log_utils.py
  darshan-util/pydarshan/darshan/tests/test_plot_common_access_table.py
  darshan-util/pydarshan/darshan/tests/test_plot_io_cost.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, maintenance

#638 MAINT: PR 634 cleanup
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, maintenance

#643 ENH: Add `H5D` module support to "Access Size Histogram"
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/aggregators/mod_agg_iohist.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#648 ENH: Add Darshan website link to summary report footer
  darshan-util/pydarshan/darshan/cli/base.html
Labels: enhancement, pydarshan

#651 CI: remove `type: ignore` instances
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan

#647 ENH: Update summary report figure captions
  darshan-util/pydarshan/darshan/cli/summary.py
Labels: enhancement, pydarshan

#622 BUG: Change DXT heatmap to use `nprocs` for y-axis scale and correct bar graph anomalies
  darshan-util/pydarshan/benchmarks/benchmarks/dxt_heatmap.py
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_heatmap_handling.py
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
Labels: bug, pydarshan, performance

#659 MAINT: Update darshan summary report metadata table runtime datatype
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, maintenance

#660 MAINT: Update partial flag message
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, maintenance

#670 MAINT: Reorganize summary report metadata sections
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, maintenance
