Repository darshan-hpc/darshan, pull requests merged in 2022-06, with the labels that each got.

#747 MAINT: deal with pd deprecation
  .github/workflows/main_ci.yml
  darshan-util/pydarshan/darshan/experimental/plots/data_access_by_filesystem.py
Labels: pydarshan, CI, maintenance

#735 BUG: pydarshan HEATMAP inactive handle
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: bug, pydarshan

#758 fix segfault affecting DARSHAN_MOD_DISABLE/ENABLE env vars
  darshan-runtime/lib/darshan-config.c
Labels: bug
