Repository darshan-hpc/darshan, pull requests merged in 2022-05, with the labels that each got.

#705 PyDarshan: Mitigate build errors from dependencies and speedup wheel building
  darshan-util/pydarshan/Makefile
  darshan-util/pydarshan/devel/build-wheels.sh
Labels: pydarshan, maintenance

#718 WIP, ENH: summary with data access cats
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/data_access_by_filesystem.py
  darshan-util/pydarshan/darshan/tests/test_data_access_by_filesystem.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#722 BUG: cats only allow POSIX/STDIO
  darshan-util/pydarshan/darshan/experimental/plots/data_access_by_filesystem.py
  darshan-util/pydarshan/darshan/tests/test_data_access_by_filesystem.py
Labels: bug, pydarshan

#715 ENH: summary with runtime heatmaps
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/heatmap_handling.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_plot_dxt_heatmap.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#740 CI: focus pypdarshan ci on include/darshan-util paths
  .github/workflows/main_ci.yml
Labels: CI

#719 WIP, ENH: Update summary report styling
  darshan-util/pydarshan/darshan/cli/base.html
  darshan-util/pydarshan/darshan/cli/style.css
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: enhancement, pydarshan

#741 MAINT, CI: cibuildwheel support
  .github/workflows/build_wheels.yml
  darshan-util/pydarshan/RELEASE-CHECKLIST-PyDarshan.txt
  darshan-util/pydarshan/devel/build-wheels.sh
  darshan-util/pydarshan/pyproject.toml
  darshan-util/pydarshan/setup.py
Labels: pydarshan, CI
