Repository darshan-hpc/darshan, pull requests merged in 2022-12, with the labels that each got.

#862 MAINT: remove experimental IOR logs from examples repo
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-HDF5_id438090-438090_11-9-41522-17417065676046418211_1.darshan
  darshan-util/pydarshan/darshan/examples/example_logs/shane_ior-PNETCDF_id438100-438100_11-9-41525-10280033558448664385_1.darshan
Labels: pydarshan

#863 DOC: fixup pydarshan docs
  darshan-util/pydarshan/README.rst
  darshan-util/pydarshan/docs/install.rst
  darshan-util/pydarshan/docs/usage.rst
Labels: pydarshan

#865 3.4.1 release prep
  ChangeLog
  configure.ac
  darshan-runtime/configure.ac
  darshan-test/RELEASE-CHECKLIST.txt
  darshan-util/configure.ac
  darshan-util/pydarshan/CHANGELOG.rst
  darshan-util/pydarshan/darshan/__init__.py
  darshan-util/pydarshan/setup.cfg
  darshan-util/pydarshan/setup.py
Labels: pydarshan

#870 CI: drop 3.6 & ubuntu switch
  .github/workflows/main_ci.yml
Labels: CI, maintenance

#876 3.4.2 release prep
  ChangeLog
  configure.ac
  darshan-runtime/configure.ac
  darshan-util/configure.ac
  darshan-util/pydarshan/CHANGELOG.rst
  darshan-util/pydarshan/darshan/__init__.py
  darshan-util/pydarshan/setup.cfg
  darshan-util/pydarshan/setup.py
Labels: pydarshan

#879 CI, MAINT: Cirrus bump/naming
  .cirrus.yml
Labels: maintenance

#877 MAINT: more Python 3.6 cleanups
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_dxt_heatmap.py
  darshan-util/pydarshan/pyproject.toml
  darshan-util/pydarshan/setup.py
Labels: pydarshan, maintenance

#880 TST: portable forked process test
  darshan-test/python_runtime_tests.py
Labels: testing, maintenance

#883 MAINT: I/O cost label spacing
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/darshan/tests/test_plot_io_cost.py
Labels: pydarshan, maintenance

#884 ENH: WAIT_TIME in Python summary
  darshan-util/pydarshan/darshan/cli/summary.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_io_cost.py
  darshan-util/pydarshan/darshan/tests/test_plot_io_cost.py
Labels: enhancement, pydarshan
