Repository darshan-hpc/darshan, pull requests merged in 2022-03, with the labels that each got.

#675 TST: graceful HEATMAP xfails
  darshan-util/pydarshan/darshan/log_utils.py
  darshan-util/pydarshan/darshan/tests/conftest.py
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, testing

#615 WIP: PyDarshan Heatmap Record Support
  darshan-util/pydarshan/darshan/backend/api_def_c.py
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
  darshan-util/pydarshan/darshan/datatypes/__init__.py
  darshan-util/pydarshan/darshan/datatypes/heatmap.py
  darshan-util/pydarshan/darshan/report.py
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/devel/build-libdarshanutil.sh
Labels: pydarshan

#691 TST: narrow heatmap xfail
  darshan-util/pydarshan/darshan/tests/test_report.py
  darshan-util/pydarshan/darshan/tests/test_summary.py
Labels: pydarshan, testing

#665 Update PyDarshan wheel building process to manylinux2014 (fix for #656)
  darshan-util/pydarshan/Makefile
  darshan-util/pydarshan/darshan/__init__.py
  darshan-util/pydarshan/darshan/discover_darshan.py
  darshan-util/pydarshan/devel/build-all-platforms.sh
  darshan-util/pydarshan/devel/build-all.sh
  darshan-util/pydarshan/devel/build-wheels.sh
  darshan-util/pydarshan/requirements_dev.txt
  darshan-util/pydarshan/setup.cfg
  darshan-util/pydarshan/setup.py
Labels: pydarshan, installation

#685 WIP, ENH: HDF5 support for `plot_opcounts()` aggregators
  darshan-util/pydarshan/darshan/experimental/aggregators/agg_ioops.py
  darshan-util/pydarshan/darshan/experimental/plots/plot_opcounts.py
  darshan-util/pydarshan/darshan/tests/test_plot_exp_common.py
Labels: enhancement, pydarshan
