Repository darshan-hpc/darshan, pull requests merged in 2025-06, with the labels that each got.

#1033 DOC: migrate documents to readthedocs
  .readthedocs.yaml
  conf.py
  darshan-runtime/doc/DXT-overhead.jpg
  darshan-runtime/doc/darshan-runtime.rst
  darshan-test/RELEASE-CHECKLIST.txt
  darshan-util/doc/darshan-util.rst
  darshan-util/pydarshan/CHANGELOG.rst
  darshan-util/pydarshan/Makefile
  darshan-util/pydarshan/darshan/discover_darshan.py
  darshan-util/pydarshan/docs/conf.py
  doc/darshan-modularization.rst
  index.rst
  readthedocs/DEVELOPER_NOTES.md
Labels: documentation, pydarshan

#1041 Github action: remove setuptools version constrain
  .github/workflows/end_to_end_pytest.yml
Labels: CI

#1038 TYP: Disable NumPy's deprecated mypy plugin
  darshan-util/pydarshan/mypy.ini
Labels: pydarshan, static typing

#1048 BUG: correct DAOS and DFS layout in dataframe repacking that is consumed by the logutils accumulator API
  darshan-util/pydarshan/darshan/backend/cffi_backend.py
Labels: pydarshan

#1036 Added I/O performance metrics to file_stats
  darshan-util/pydarshan/darshan/cli/file_stats.py
Labels: pydarshan
